// Button styles
.btn{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    &.btn-addBook{
        color: white;
        background-color: #4a90e2;
        &::before{
            content: "ï¼‹ ";
        }
        &:hover{
            background-color: #357ABD;
        }
    }
    &.btn-primary,
    &.btn-return,
    &.btn-search,
    &.btn-back{
        color: white;
        background-color: #4a90e2;
        &:hover{
            background-color: #357ABD;
        }
    }
}
.qa-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: none;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
    &:disabled {
    // opacity: 0.55;
    cursor: not-allowed;
    background: #ccc;
    }
}

.qa-btn--edit { background: #F59E0B; color: #fff; }
.qa-btn--start { background: #4f46e5; color: #fff; }
.qa-btn--finish { background: #10B981; color: #fff; }
.qa-btn--delete  { background: #ef4444; color: #fff; }

// Form styles
.form-group{
    margin-bottom: 15px;
    label{
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }
    input[type="text"], input[type="number"], textarea{
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1em;
        background: #fff;
    }
    textarea{
        resize: vertical;
        min-height: 100px;
    }
}

// Book detail styles
.book-detail{
    display: flex;
    gap: 30px;
    .left-content, .right-content{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .left-content{
        width: min(100%, 390px);
    }
    .right-content{
        width: min(100%, 800px);
    }
    .basic-infomation{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .reading-infomation{
        display: flex;
        gap: 30px;
        .card{
            width: min(calc((100% - 30px) / 2), 390px);
        }
    }
    .card{
        width: 100%;
        background: #fff;
        padding: 20px;
        border-radius: 8px;


        .column-head{
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 12px;
        }
    }
    .img{
        display: flex;
        justify-content: center;
        img{
            width: 190px;
            height: 270px;
            border: solid 1px #ddd;
        }

    }
}
